/* stars rating */
.fa{
    position: relative;
    left: 20px;
    top: 25px;
}
.checked {

    color: brown;
  }
  /* --------------------------------------- */
  /* cards style */
  .card{
    position: relative;
    top: 10px;
    border-style: initial;
    border-radius: 2.5%;
    transition: top ease 0.6s; 
    width: 97%;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 5px #0d6efd82;
}

.card h5{
    position: relative;
    z-index: 1;
    top: -40px;
    
}
.card h5{
    text-align: center;
    
    
}
.card img{
    position: relative;
    top: 0;
    border-style: initial;
    transition: top ease 0.5s;
    z-index: 2;
    height: 500px;
}
.card img:hover{
    top: -30px
}
.card button{
    background-color: rgb(0, 48, 91);
}
/* toasts */
.toast{
    text-align: center;
    width: 100%;
    display: flex;
}
.toast .button{
    display: flex;
}
/* --------- */
/* .unchecked_cards_container */
.unchecked_cards{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 30px;
}
.unchecked_cards_container{
    background-color: rgb(0 50 121 / 34%);
} 
.main-title{
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color:rgb(231, 98, 98) ;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

}


  /* ------------- */
  /* checked_cards_container */
    .checked_cards_container{
        min-height: 800px;
        border-style: solid;
        margin: 10px;
        border-radius: 2.5%;
    }
    .checked_cards_container .progress{
        width: 90%;
        margin-left: 5%;
    }
    .checked_cards_container .progress_text{
        text-align: center;
        margin: 1.5%;

    }
  /* ----------------------- */