body{
    background-color: rgb(143, 179, 211);
}
.row{
    background-color: rgb(143, 179, 211);
}
.card-body{
    background-color: rgb(143, 179, 211) ;
}
.logo{
    justify-content: flex-end
}
.done{
    position: relative;
    font-size: large;
    background-color: #dff2de;
    color: #42a946;
    padding: 10px;
    width: 90%;
    border: 5px;
    left: 5%;
    text-align: center;
}
.error{
    position: relative;
    font-size: large;
    background-color: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 90%;
    border: 5px;
    left: 5%;
    text-align: center;
}