

.rosheta h1 {
    text-align: center;
    color: rgb(210 124 134);
    margin-bottom: 5%;
}


.rosheta .name,
.rosheta .date, 
.rosheta .heart_rate,
.rosheta .blood_pressure{
    border-radius: 10%;
    border-style: solid;
    margin: 1%;
    margin-left: 2%;
 
}
.card {
    background-color: rgb(0 48 91);
    color: white;
    margin: 5%;
    border-radius: 6%;

}
.card .card-text{
    font-size: large;
}
.history{
    text-align: center;
    color: rgb(210 124 134);
    margin-bottom: 5%;
}
.main-title{
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color:rgb(231, 98, 98) ;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

}
