/* main style for all tabs */
body {
    margin: 0px;
    background-color: rgba(59, 147, 219, 0.537);
}

/* navbar */
nav ul li p{
 

    color: white;
}
nav ul li .h6edit{
 
    transform: translate(-7%);
}
nav ul li{
    width: 150px; 
    
}
nav ul li span{
    color: white;
    
}

.username{
    color: white;
}

.navbar {

    background-color: rgb(0, 48, 91);

}

.navbar a {

 
    color: white;
    transition: font-size ease 0.4s;
}


 .navbar li .nav-link:hover{
    color: rgb(175, 76, 76);
    font-size: 20px;
}
/* small screen */
.smallscreenpar svg{
    color: white;
    border: 0%;
}
.smallscreenpar a{
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.516);
}
.smallscreenpar .username{
    color: rgba(255, 255, 255, 0.663);
}
.smallscreenpar button:focus{
   
    box-shadow: none;
}
nav .dropdownitemcss{
    color: rgb(187, 30, 30); 

}
/* ---------------------- */
/* navbar */

